html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: fixed;
  top: 100px;
  right: 200px;
}

@media only screen and (min-width: 1196px) {
   #bear {
     left: 800px;
   }
  }/* Write your solution here */
