html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
html body #monkey {
  height: 1px ;
  width: 1px ;
  top: 1px ;
  left: 1px ;
  overflow: hidden ;
}
