html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */

@media (min-width: 390px) and (max-width: 1320px) {
  #ostrich {
    top: -20px;
  }

  #ostrich img {
    height: 360px;
  }
}
